header{


    text-align: center;
    font-family: 'Arvo', serif;
    padding-top: 10px;


}

h1{
    text-align: center;
    font-family: 'Arvo', serif;
}

nav{

    margin: 50px;
    display: flex;
    justify-content: center;

}

ul{

    overflow: auto;
    list-style-type: none;

}

li{

    height: 25px;
    float: left;
    margin-right: 0px; 
    border-right: 1px solid #aaa;
    padding: 0 20px;

}

li:first-child {

    border-left: 1px solid #aaa;

}


li a{

    color: #ccc;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Arvo', serif;

    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;

}

li a:hover{

color: #666;

}

li.active a {

    font-weight: bold;
    color: #333;

}

div {
    display: flex;
    column-count: 3;
    column-gap: 40px;
    column-width: 300px;
    column-rule: solid;
    padding: 25px;
    text-align: justify;
}

h2 {

    font-family: 'Arvo', serif;
    text-align: center;

}

img{

    object-fit: contain;
    max-width: 100%;

}

footer{

    text-align: center;

}

@media (max-width: 733px){

    nav{

        
        font-size: small;
        

    }

}

@media (max-width: 666px){


    nav{


        margin: 25px;


    }


}

@media (max-width: 617px){


    nav{


        margin: 10px;


    }


}

@media (max-width: 586px){


    nav{


        margin: 5px;


    }

 
}

@media (max-width: 320px){



    nav{


        font-size: large;


    }



}


.rows{


    display: flex;
    flex-direction: row;



}